.header {
    align-items: center;
    padding: 1rem;
    background-color: #f1f1f1;
}


.main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}


.main__article {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header__nav {
  align-items: center;
  width: 50%;
}

.header__nav__item {
    list-style: none;
}

.header__nav__item a {
  text-decoration: none;
  color: #000;

}

.header__nav__item a:hover {
  color: #fff;
  background-color: #000;
}

.main__article__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.main__article__p {
    font-size: 1rem;
}


